version: '3'

services:
  front:
    image: sermalenk/skypro-front:lesson-35
    ports:
      - 8080:80
    depends_on:
      - api

  api:
    image: anti11/todo-list:${GITHUB_REF_NAME}-${GITHUB_RUN_ID}
    depends_on:
      - migrations
      - pg
    volumes:
    - "./.env:/app/.env"
    - "./todolist:./app/todolist"

  migrations:
    image: anti11/todo-list:${GITHUB_REF_NAME}-${GITHUB_RUN_ID}
    depends_on:
      - pg
    volumes:
    - ./.env:/app/.env
    command: >
      sh -c "python3 ./todolist/manage.py migrate"

  pg:
    image: postgres:14.3-alpine
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    restart: always
    ports:
      - 5433:5432
    volumes:
      - ./pg_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER}"]
      interval: 5s
      timeout: 5s
      retries: 5